# Port utilisé par l'API Express
PORT=4000

# Variables requises par balance-calculator
THEGRAPH_API_KEY=
API_KEY_GNOSISSCAN=
API_KEY_ETHERSCAN=
API_KEY_POLYGONSCAN=
API_KEY_MORALIS=.eyJub25jZSI6ImFlZWQ5MGMyLTM4NWEtNGFiMy05MGUxLWJhZWM0ODk5MTJkNCIsIm9yZ0lkIjoiNDgyOTUxIiwidXNlcklkIjoiNDk2ODY2IiwidHlwZUlkIjoiZTQ2MjQ4NjUtZmExNy00YjEzLTgxNTYtNGRmZGM4OTI0Y2M1IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NjM5ODY3NDUsImV4cCI6NDkxOTc0Njc0NX0.pK3khzeH3q9Tih81Mw12XwYL2jB83nDeaC8NNk3Ocmc

